* {
  box-sizing: border-box;
  /*font-family: Helvetica;*/
  /*font-family: Consolas;*/
}

#content{
    margin-left: 40px;
    margin-right: 40px;
}

.container{
    margin-left: 50px;
    margin-right: 50px;
}

.container-fluid{
    margin-left: 50px;
    margin-right: 50px;
}
body {
  margin-bottom: 100px;
}
  
p.p1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

li {
  margin: 0 0 0.5em 0;
}

.nobull {
  list-style-type: none;
  padding-left: 0.5em;
}

#header-nav {
  background-color: darkgray;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-header h1 {
  font-size: 1.75em;
}

.navbar-header a {
  color: black;
}
.navbar-header p {
  font-size: 1em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: solid black;   
}

#long-container{
	height: 1000px;
	background: grey;
}

#nav-list a {
  color: black;
  text-align: center;
  font-size: 1.8em;
  /*font-weight: bold;*/
}

#nav-list a:hover {
  text-decoration: underline;
}

.top-link{
	text-decoration: underline;
} 

.publication-link {
  margin-left: 2px;
  margin-right: 2px;
}

.navbar-header button.navbar-toggle {
  clear: both;
  /*margin-top: -30px;*/
  margin-top: -65px;
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid{
      margin-left: 20px;
      margin-right: 20px;
  }  

  .container{
      margin-left: 10px;
      margin-right: 10px;
  }  
  #content{
      margin-left: 20px;
      margin-right: 20px;
  }  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.4em;
  }  
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  .container-fluid{
      margin-left: 20px;
      margin-right: 20px;
  }
  .container{
      margin-left: 0px;
      margin-right: 0px;
  }  
  #content{
      margin-left: 10px;
      margin-right: 10px;
  }  
}

/********** Extra, extra small devices only **********/
@media (max-width: 445px) {
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -75px;
}  
#content{
      margin-left: 5px;
      margin-right: 5px;
  }  

}